{% macro about() %}
 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Hardware</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/raspberrypi/raspberrypi-original.svg" height="70"/>
      <img src="https://upload.wikimedia.org/wikipedia/sco/2/21/Nvidia_logo.svg" height="70"/>
      <img src="https://www.beagleboard.org/app/uploads/2021/05/beagleboard-embedded.svg" height="75"/>
      <img src="{{ get_url(path='PX4_Logo_Black_RGB.svg')}}" height="50"/>
      <img src="{{ get_url(path='amd-svgrepo-com.svg')}}" height="100" />
      <img src="{{ get_url(path='OMRON_Logo.svg')}}" height="30"/>
      <img src="{{ get_url(path='Sony_logo.svg')}}" height="20"/>
      <p>Specifics: RPi 4/5, Jetson Nano, Beaglebone Black, Beaglebone Play, AMD Kria KR260, Omron NX1P2-series and Spresense.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" height="70"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rust/rust-original.svg" height="70"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg" height="70" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg" height="70"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" height="70"/>
      <p>Languages used in work and personal projects</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-github-original-wordmark colored"></i>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ros/ros-original-wordmark.svg" height="70"/>      
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg" height="70"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/matlab/matlab-original.svg" height="75"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tensorflow/tensorflow-original.svg" height="70"/>
      <p>Various kits and tools that have been used in my field of work and personal projects</p>
    </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
  <h4> 
    Current projects that I'm busy with at work or with family. 
  </h4>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" /> -->
    <img alt="quails" src="{{ config.base_url ~ "/img/quail_egg.jpg" }}" />
  </div>
  <div class="contents">
    <h3> RPi-Controlled Quail Incubator </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>The idea behind this </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Spresense-controlled Photobioreactor </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro projects %}

{% macro learn() %}
<div class="user-details">
  <h1> Learn </h1>
  <h4>
    Test scripts, projects and examples that I've worked on that is worth documenting and passing along to others.
  </h4>
</div>
<div class="user-projects">
  <div class="images-right">
    <!-- <img alt="mountains" src="{{ config.base_url ~ "/img/mountains.jpg" }}" /> -->
    <img alt="quails" src="{{ config.base_url ~ "/img/quail_egg.jpg" }}" />
  </div>
  <div class="contents">
    <h3> RPi-Controlled Quail Incubator </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>The idea behind this </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ config.base_url ~ "/img/skate.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Spresense-controlled Photobioreactor </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro learn %}